In [2]:
import requests
import pandas as pd
import json

***This file was downloaded directly to the laptop.  Since it's available for download, there is no API call made.  You'll have to download this yourself. http://inalitic.com/datasets/nhl%20player%20data.html***

In [4]:
df = pd.read_csv('skater_stats.csv', encoding='latin1')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
df.head()

,Unnamed: 0,Season,Player,Age,Tm,Pos,GP,G,GPG,A,...,SHA,S,S%,TOI,ATOI,BLK,HIT,FOwin,FOloss,FO%
0,2018Justin Abdelkader,2018,Justin Abdelkader,30.0,DET,LW,75,13,0.1733,22,...,-,110,12,"1,241",16:33,40.0,174.0,47.0,50.0,48.5
1,2018Pontus Aberg,2018,Pontus Aberg,24.0,TOT,LW,53,4,0.0755,12,...,-,70,6,645,12:10,8.0,24.0,4.0,8.0,33.3
2,2018Noel Acciari,2018,Noel Acciari,26.0,BOS,C,60,10,0.1667,1,...,-,66,15,775,12:55,41.0,152.0,42.0,51.0,45.2
3,2018Kenny Agostino,2018,Kenny Agostino,25.0,BOS,LW,5,-,0.0000,1,...,-,11,-,60,12:03,1.0,4.0,0.0,1.0,0.0
4,2018Sebastian Aho,2018,Sebastian Aho,20.0,CAR,RW,78,29,0.3718,36,...,-,200,15,"1,398",17:55,17.0,65.0,78.0,94.0,45.3

In [6]:
df.shape

(37825, 29)

In [7]:
df_fixed = df.drop('Unnamed: 0', axis = 1)

In [8]:
df_nhl = df_fixed

In [57]:
df_nhl[['Season', 'Player', 'Tm', 'S', 'S%']]

       Season             Player     Tm      S     S%
0        2018  Justin Abdelkader   DET    110     12
1        2018       Pontus Aberg   TOT     70      6
2        2018       Noel Acciari   BOS     66     15
3        2018     Kenny Agostino   BOS     11    -
4        2018      Sebastian Aho   CAR    200     15
...       ...                ...    ...    ...    ...
37820    1940    Gordie Drillon*   TOR     NaN    NaN
37821    1940       Bill Cowley*   BOS     NaN    NaN
37822    1940      Woody Dumart*   BOS     NaN    NaN
37823    1940       Bobby Bauer*   BOS     NaN    NaN
37824    1940      Milt Schmidt*   BOS     NaN    NaN

[37825 rows x 5 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37825 entries, 0 to 37824
Data columns (total 29 columns):
Unnamed: 0    37825 non-null object
Season        37825 non-null int64
Player        37825 non-null object
Age           37823 non-null float64
Tm            37825 non-null object
Pos           37825 non-null object
GP            37825 non-null int64
G             37825 non-null object
GPG           37825 non-null float64
A             37825 non-null object
PTS           37825 non-null object
+/-           33913 non-null object
PIM           37824 non-null object
EVG           34537 non-null object
PPG           34537 non-null object
SHG           34537 non-null object
GWG           34537 non-null object
EVA           33913 non-null object
PPA           33913 non-null object
SHA           33913 non-null object
S             33911 non-null object
S%            32723 non-null object
TOI           16625 non-null object
ATOI          16625 non-null object
BLK           9674 non-null float64
HIT           9684 non-null float64
FOwin         9674 non-null float64
FOloss        9674 non-null float64
FO%           6149 non-null float64
dtypes: float64(7), int64(2), object(20)
memory usage: 8.4+ MB

In [11]:
df_nhl.Tm.unique()

array([' DET ', ' TOT ', ' BOS ', ' CAR ', ' NYI ', ' MTL ', ' LAK ',
       ' CBJ ', ' NYR ', ' CGY ', ' COL ', ' CHI ', ' BUF ', ' VAN ',
       ' WPG ', ' NSH ', ' PIT ', ' EDM ', ' WSH ', ' FLA ', ' STL ',
       ' ANA ', ' VEG ', ' MIN ', ' DAL ', ' OTT ', ' SJS ', ' TOR ',
       ' TBL ', ' NJD ', ' ARI ', ' PHI ', ' PHX ', ' ATL ', ' MDA ',
       ' HAR ', ' WIN ', ' QUE ', ' MNS ', ' CBH ', ' CLR ', ' ATF ',
       ' CLE ', ' CGS ', ' KCS ', ' OAK ', ' BRO ', ' NYA '], dtype=object)

In [38]:
df_nhl_before_pad_change = df_nhl.loc[(df_nhl.Season == 2001) | (df_nhl.Season == 2002)]
df_nhl_before_pad_change = df_nhl.loc[(df_nhl.Season == 2003) | (df_nhl.Season == 2005)]

In [45]:
df_nhl.loc[df_nhl.Player == 'Nikita Kucherov']

,Season,Player,Age,Tm,Pos,GP,G,GPG,A,PTS,...,SHA,S,S%,TOI,ATOI,BLK,HIT,FOwin,FOloss,FO%
451,2018,Nikita Kucherov,24.0,TBL,RW,80,39,0.4875,61,100,...,-,279,14,"1,586",19:49,15.0,31.0,3.0,2.0,60.0
1316,2017,Nikita Kucherov,23.0,TBL,RW,74,40,0.5405,45,85,...,-,246,16,"1,438",19:26,20.0,30.0,0.0,0.0,NaN
1799,2016,Nikita Kucherov,22.0,TBL,RW,77,30,0.3896,36,66,...,-,209,14,"1,402",18:13,28.0,61.0,0.0,1.0,0.0
2702,2015,Nikita Kucherov,21.0,TBL,RW,82,29,0.3537,36,65,...,-,191,15,"1,226",14:57,28.0,65.0,0.0,2.0,0.0
3935,2014,Nikita Kucherov,20.0,TBL,RW,52,9,0.1731,9,18,...,-,102,9,682,13:07,19.0,15.0,1.0,0.0,100.0

Assumptions here:  The 2004-2005 season was a lockout year and it never actually happened.  Our comparisons are:
    
    For pads - 2002-03 vs 2003-04 (2003 vs 2004 in DataFrame)
    For 2-line - 2003-04 vs 2004-06 (2004 vs 2006 in DataFrame)

In [132]:
df_nhl_2003 = df_nhl.loc[df_nhl.Season == 2003]
df_nhl_2004 = df_nhl.loc[df_nhl.Season == 2004]
df_nhl_2006 = df_nhl.loc[df_nhl.Season == 2006]

In [112]:
df_nhl_2006_working = df_nhl_2006

In [113]:
df_nhl_2006_working.G.unique()

array([' 29 ', ' 54 ', ' 52 ', ' 43 ', ' 50 ', ' 39 ', ' 45 ', ' 28 ',
       ' 56 ', ' 23 ', ' 40 ', ' 19 ', ' 48 ', ' 38 ', ' 32 ', ' 34 ',
       ' 31 ', ' 33 ', ' 16 ', ' 25 ', ' 47 ', ' 27 ', ' 21 ', ' 22 ',
       ' 35 ', ' 18 ', ' 13 ', ' 26 ', ' 30 ', ' 9 ', ' 17 ', ' 36 ',
       ' 24 ', ' 20 ', ' 12 ', ' 15 ', ' 14 ', ' 10 ', ' 11 ', ' 6 ',
       ' 5 ', ' 2 ', ' 8 ', ' 7 ', ' 4 ', ' 3 ', ' 1 ', ' -   '],
      dtype=object)

In [103]:
df_nhl_2006_working = df_nhl_2006_working.loc[df_nhl_2006_working.G == ' -   '].replace(' -   ', ' 0 ')

In [114]:
df_nhl_2006_working.G.replace(' -   ',' 0  ',inplace=True)

In [115]:
df_nhl_2006_working.G.unique()

array([' 29 ', ' 54 ', ' 52 ', ' 43 ', ' 50 ', ' 39 ', ' 45 ', ' 28 ',
       ' 56 ', ' 23 ', ' 40 ', ' 19 ', ' 48 ', ' 38 ', ' 32 ', ' 34 ',
       ' 31 ', ' 33 ', ' 16 ', ' 25 ', ' 47 ', ' 27 ', ' 21 ', ' 22 ',
       ' 35 ', ' 18 ', ' 13 ', ' 26 ', ' 30 ', ' 9 ', ' 17 ', ' 36 ',
       ' 24 ', ' 20 ', ' 12 ', ' 15 ', ' 14 ', ' 10 ', ' 11 ', ' 6 ',
       ' 5 ', ' 2 ', ' 8 ', ' 7 ', ' 4 ', ' 3 ', ' 1 ', ' 0  '],
      dtype=object)

In [116]:
df_nhl_2006_working.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 870 entries, 10542 to 11411
Data columns (total 28 columns):
Season    870 non-null int64
Player    870 non-null object
Age       870 non-null float64
Tm        870 non-null object
Pos       870 non-null object
GP        870 non-null int64
G         870 non-null object
GPG       870 non-null float64
A         870 non-null object
PTS       870 non-null object
+/-       870 non-null object
PIM       870 non-null object
EVG       870 non-null object
PPG       870 non-null object
SHG       870 non-null object
GWG       870 non-null object
EVA       870 non-null object
PPA       870 non-null object
SHA       870 non-null object
S         870 non-null object
S%        837 non-null object
TOI       870 non-null object
ATOI      870 non-null object
BLK       0 non-null float64
HIT       0 non-null float64
FOwin     0 non-null float64
FOloss    0 non-null float64
FO%       0 non-null float64
dtypes: float64(7), int64(2), object(19)
memory usage: 197.1+ KB

In [90]:
df_nhl_2006_working.G.map()

TypeError: map() missing 1 required positional argument: 'arg'

In [119]:
df_nhl_2006_working.G = df_nhl_2006_working.G.astype(int)

//anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [120]:
df_nhl_2006_working.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 870 entries, 10542 to 11411
Data columns (total 28 columns):
Season    870 non-null int64
Player    870 non-null object
Age       870 non-null float64
Tm        870 non-null object
Pos       870 non-null object
GP        870 non-null int64
G         870 non-null int64
GPG       870 non-null float64
A         870 non-null object
PTS       870 non-null object
+/-       870 non-null object
PIM       870 non-null object
EVG       870 non-null object
PPG       870 non-null object
SHG       870 non-null object
GWG       870 non-null object
EVA       870 non-null object
PPA       870 non-null object
SHA       870 non-null object
S         870 non-null object
S%        837 non-null object
TOI       870 non-null object
ATOI      870 non-null object
BLK       0 non-null float64
HIT       0 non-null float64
FOwin     0 non-null float64
FOloss    0 non-null float64
FO%       0 non-null float64
dtypes: float64(7), int64(3), object(18)
memory usage: 197.1+ KB

In [122]:
goals_06 = df_nhl_2006_working.G.sum()

In [137]:
df_nhl_2004_working = df_nhl_2004
df_nhl_2004_working.G.replace(' -   ',' 0  ',inplace=True)
goals_04 = df_nhl_2004_working.loc[:,'G'].astype(int)

In [138]:
df_nhl_2003_working = df_nhl_2003
df_nhl_2003_working.G.replace(' -   ',' 0  ',inplace=True)
goals_03 = df_nhl_2003_working.loc[:,'G'].astype(int)

In [139]:
df_nhl_2002 = df_nhl.loc[df_nhl.Season == 2002]
df_nhl_2002_working = df_nhl_2002
df_nhl_2002_working.G.replace(' -   ',' 0  ',inplace=True)
goals_02 = df_nhl_2002_working.loc[:,'G'].astype(int)

In [140]:
df_nhl_2001 = df_nhl.loc[df_nhl.Season == 2001]
df_nhl_2001_working = df_nhl_2001
df_nhl_2001_working.G.replace(' -   ',' 0  ',inplace=True)
goals_01 = df_nhl_2001_working.loc[:,'G'].astype(int)

In [141]:
df_nhl_2000 = df_nhl.loc[df_nhl.Season == 2000]
df_nhl_2000_working = df_nhl_2000
df_nhl_2000_working.G.replace(' -   ',' 0  ',inplace=True)
goals_00 = df_nhl_2000_working.loc[:,'G'].astype(int)

In [142]:
goals_06

7442

In [151]:
goals_04

6317

In [154]:
goals_03 = goals_03.sum()

In [155]:
goals_02 = goals_02.sum()

In [156]:
goals_01 = goals_01.sum()

In [157]:
goals_00 = goals_00.sum()

In [168]:
df_nhl_1999 = df_nhl.loc[df_nhl.Season == 1999]
df_nhl_1999_working = df_nhl_1999
df_nhl_1999_working.G.replace(' -   ',' 0  ',inplace=True)
goals_99 = df_nhl_1999_working.loc[:,'G'].astype(int)
print(goals_99)
goals_99 = goals_99.sum()

15812     0
15813     0
15814     0
15815     0
15816     0
         ..
16621    41
16622    30
16623    39
16624    47
16625    44
Name: G, Length: 814, dtype: int64

In [169]:
df_nhl_1998 = df_nhl.loc[df_nhl.Season == 1998]
df_nhl_1998_working = df_nhl_1998
df_nhl_1998_working.G.replace(' -   ',' 0  ',inplace=True)
goals_98 = df_nhl_1999_working.loc[:,'G'].astype(int)
print(goals_98)
goals_98 = goals_98.sum()

15812     0
15813     0
15814     0
15815     0
15816     0
         ..
16621    41
16622    30
16623    39
16624    47
16625    44
Name: G, Length: 814, dtype: int64

In [164]:
df_nhl_1997 = df_nhl.loc[df_nhl.Season == 1997]
df_nhl_1997_working = df_nhl_1997
df_nhl_1997_working.G.replace(' -   ',' 0  ',inplace=True)
goals_97 = df_nhl_1997_working.loc[:,'G'].astype(int)
goals_97 = goals_97.sum()

In [181]:
goals_97, goals_98, goals_99, goals_00, goals_01, goals_02, goals_03, goals_04, goals_06, goals_07

(6216, 5624, 5829, 6305, 6781, 6441, 6530, 6317, 7442, 7082)

In [171]:
df_nhl_1999_working.head()

,Season,Player,Age,Tm,Pos,GP,G,GPG,A,PTS,...,SHA,S,S%,TOI,ATOI,BLK,HIT,FOwin,FOloss,FO%
15812,1999,Rob Zettler,30.0,NSH,D,2,0,0.0,-,-,...,-,-,NaN,33,16:16,NaN,NaN,NaN,NaN,NaN
15813,1999,Jason Zent,27.0,PHI,LW,2,0,0.0,-,-,...,-,1,-,6,2:58,NaN,NaN,NaN,NaN,NaN
15814,1999,Trent Yawney,33.0,CHI,D,20,0,0.0,-,-,...,-,11,-,269,13:28,NaN,NaN,NaN,NaN,NaN
15815,1999,Tyler Wright,25.0,PIT,C,61,0,0.0,-,-,...,-,16,-,230,3:46,NaN,NaN,NaN,NaN,NaN
15816,1999,Jamie Wright,22.0,DAL,LW,11,0,0.0,-,-,...,-,10,-,84,7:37,NaN,NaN,NaN,NaN,NaN

In [180]:
df_nhl_2007 = df_nhl.loc[df_nhl.Season == 2007]
df_nhl_2007_working = df_nhl_2007
df_nhl_2007_working.G.replace(' -   ',' 0  ',inplace=True)
goals_07 = df_nhl_2007_working.G.astype(int).sum()

In [182]:
goals_01, goals_02, goals_03, goals_04, goals_06, goals_07

(6781, 6441, 6530, 6317, 7442, 7082)

In [183]:
import statsmodels.stats as stats

### Playing with the undocumented NHL API

In [21]:
resp = requests.get('https://statsapi.web.nhl.com/api/v1/teams')

In [22]:
resp_work = resp

In [33]:
resp_work_t = resp_work.json()

In [36]:
type(resp_work_t)

dict

In [41]:
df_teams = pd.DataFrame(resp_work_t['teams'])

In [42]:
df_teams

,id,name,link,venue,abbreviation,teamName,locationName,firstYearOfPlay,division,conference,franchise,shortName,officialSiteUrl,franchiseId,active
0,1,New Jersey Devils,/api/v1/teams/1,"{'name': 'Prudential Center', 'link': '/api/v1...",NJD,Devils,New Jersey,1982,"{'id': 18, 'name': 'Metropolitan', 'nameShort'...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 23, 'teamName': 'Devils', 'lin...",New Jersey,http://www.newjerseydevils.com/,23,True
1,2,New York Islanders,/api/v1/teams/2,"{'id': 5026, 'name': 'Barclays Center', 'link'...",NYI,Islanders,New York,1972,"{'id': 18, 'name': 'Metropolitan', 'nameShort'...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 22, 'teamName': 'Islanders', '...",NY Islanders,http://www.newyorkislanders.com/,22,True
2,3,New York Rangers,/api/v1/teams/3,"{'id': 5054, 'name': 'Madison Square Garden', ...",NYR,Rangers,New York,1926,"{'id': 18, 'name': 'Metropolitan', 'nameShort'...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 10, 'teamName': 'Rangers', 'li...",NY Rangers,http://www.newyorkrangers.com/,10,True
3,4,Philadelphia Flyers,/api/v1/teams/4,"{'id': 5096, 'name': 'Wells Fargo Center', 'li...",PHI,Flyers,Philadelphia,1967,"{'id': 18, 'name': 'Metropolitan', 'nameShort'...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 16, 'teamName': 'Flyers', 'lin...",Philadelphia,http://www.philadelphiaflyers.com/,16,True
4,5,Pittsburgh Penguins,/api/v1/teams/5,"{'id': 5034, 'name': 'PPG Paints Arena', 'link...",PIT,Penguins,Pittsburgh,1967,"{'id': 18, 'name': 'Metropolitan', 'nameShort'...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 17, 'teamName': 'Penguins', 'l...",Pittsburgh,http://pittsburghpenguins.com/,17,True
5,6,Boston Bruins,/api/v1/teams/6,"{'id': 5085, 'name': 'TD Garden', 'link': '/ap...",BOS,Bruins,Boston,1924,"{'id': 17, 'name': 'Atlantic', 'nameShort': 'A...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 6, 'teamName': 'Bruins', 'link...",Boston,http://www.bostonbruins.com/,6,True
6,7,Buffalo Sabres,/api/v1/teams/7,"{'id': 5039, 'name': 'KeyBank Center', 'link':...",BUF,Sabres,Buffalo,1970,"{'id': 17, 'name': 'Atlantic', 'nameShort': 'A...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 19, 'teamName': 'Sabres', 'lin...",Buffalo,http://www.sabres.com/,19,True
7,8,Montréal Canadiens,/api/v1/teams/8,"{'id': 5028, 'name': 'Bell Centre', 'link': '/...",MTL,Canadiens,Montréal,1909,"{'id': 17, 'name': 'Atlantic', 'nameShort': 'A...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 1, 'teamName': 'Canadiens', 'l...",Montréal,http://www.canadiens.com/,1,True
8,9,Ottawa Senators,/api/v1/teams/9,"{'id': 5031, 'name': 'Canadian Tire Centre', '...",OTT,Senators,Ottawa,1990,"{'id': 17, 'name': 'Atlantic', 'nameShort': 'A...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 30, 'teamName': 'Senators', 'l...",Ottawa,http://www.ottawasenators.com/,30,True
9,10,Toronto Maple Leafs,/api/v1/teams/10,"{'name': 'Scotiabank Arena', 'link': '/api/v1/...",TOR,Maple Leafs,Toronto,1917,"{'id': 17, 'name': 'Atlantic', 'nameShort': 'A...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 5, 'teamName': 'Maple Leafs', ...",Toronto,http://www.mapleleafs.com/,5,True
10,12,Carolina Hurricanes,/api/v1/teams/12,"{'id': 5066, 'name': 'PNC Arena', 'link': '/ap...",CAR,Hurricanes,Carolina,1979,"{'id': 18, 'name': 'Metropolitan', 'nameShort'...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 26, 'teamName': 'Hurricanes', ...",Carolina,http://www.carolinahurricanes.com/,26,True
11,13,Florida Panthers,/api/v1/teams/13,"{'id': 5027, 'name': 'BB&T Center', 'link': '/...",FLA,Panthers,Florida,1993,"{'id': 17, 'name': 'Atlantic', 'nameShort': 'A...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 33, 'teamName': 'Panthers', 'l...",Florida,http://www.floridapanthers.com/,33,True
12,14,Tampa Bay Lightning,/api/v1/teams/14,"{'name': 'AMALIE Arena', 'link': '/api/v1/venu...",TBL,Lightning,Tampa Bay,1991,"{'id': 17, 'name': 'Atlantic', 'nameShort': 'A...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 31, 'teamName': 'Lightning', '...",Tampa Bay,http://www.tampabaylightning.com/,31,True
13,15,Washington Capitals,/api/v1/teams/15,"{'id': 5094, 'name': 'Capital One Arena', 'lin...",WSH,Capitals,Washington,1974,"{'id': 18, 'name': 'Metropolitan', 'nameShort'...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 24, 'teamName': 'Capitals', 'l...",Washington,http://www.washingtoncapitals.com/,24,True
14,16,Chicago Blackhawks,/api/v1/teams/16,"{'id': 5092, 'name': 'United Center', 'link': ...",CHI,Blackhawks,Chicago,1926,"{'id': 16, 'name': 'Central', 'nameShort': 'CE...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 11, 'teamName': 'Blackhawks', ...",Chicago,http://www.chicagoblackhawks.com/,11,True
15,17,Detroit Red Wings,/api/v1/teams/17,"{'id': 5145, 'name': 'Little Caesars Arena', '...",DET,Red Wings,Detroit,1926,"{'id': 17, 'name': 'Atlantic', 'nameShort': 'A...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 12, 'teamName': 'Red Wings', '...",Detroit,http://www.detroitredwings.com/,12,True
16,18,Nashville Predators,/api/v1/teams/18,"{'id': 5030, 'name': 'Bridgestone Arena', 'lin...",NSH,Predators,Nashville,1997,"{'id': 16, 'name': 'Central', 'nameShort': 'CE...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 34, 'teamName': 'Predators', '...",Nashville,http://www.nashvillepredators.com/,34,True
17,19,St. Louis Blues,/api/v1/teams/19,"{'id': 5076, 'name': 'Enterprise Center', 'lin...",STL,Blues,St. Louis,1967,"{'id': 16, 'name': 'Central', 'nameShort': 'CE...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 18, 'teamName': 'Blues', 'link...",St Louis,http://www.stlouisblues.com/,18,True
18,20,Calgary Flames,/api/v1/teams/20,"{'id': 5075, 'name': 'Scotiabank Saddledome', ...",CGY,Flames,Calgary,1980,"{'id': 15, 'name': 'Pacific', 'nameShort': 'PA...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 21, 'teamName': 'Flames', 'lin...",Calgary,http://www.calgaryflames.com/,21,True
19,21,Colorado Avalanche,/api/v1/teams/21,"{'id': 5064, 'name': 'Pepsi Center', 'link': '...",COL,Avalanche,Colorado,1979,"{'id': 16, 'name': 'Central', 'nameShort': 'CE...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 27, 'teamName': 'Avalanche', '...",Colorado,http://www.coloradoavalanche.com/,27,True
20,22,Edmonton Oilers,/api/v1/teams/22,"{'id': 5100, 'name': 'Rogers Place', 'link': '...",EDM,Oilers,Edmonton,1979,"{'id': 15, 'name': 'Pacific', 'nameShort': 'PA...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 25, 'teamName': 'Oilers', 'lin...",Edmonton,http://www.edmontonoilers.com/,25,True
21,23,Vancouver Canucks,/api/v1/teams/23,"{'id': 5073, 'name': 'Rogers Arena', 'link': '...",VAN,Canucks,Vancouver,1970,"{'id': 15, 'name': 'Pacific', 'nameShort': 'PA...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 20, 'teamName': 'Canucks', 'li...",Vancouver,http://www.canucks.com/,20,True
22,24,Anaheim Ducks,/api/v1/teams/24,"{'id': 5046, 'name': 'Honda Center', 'link': '...",ANA,Ducks,Anaheim,1993,"{'id': 15, 'name': 'Pacific', 'nameShort': 'PA...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 32, 'teamName': 'Ducks', 'link...",Anaheim,http://www.anaheimducks.com/,32,True
23,25,Dallas Stars,/api/v1/teams/25,"{'id': 5019, 'name': 'American Airlines Center...",DAL,Stars,Dallas,1967,"{'id': 16, 'name': 'Central', 'nameShort': 'CE...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 15, 'teamName': 'Stars', 'link...",Dallas,http://www.dallasstars.com/,15,True
24,26,Los Angeles Kings,/api/v1/teams/26,"{'id': 5081, 'name': 'STAPLES Center', 'link':...",LAK,Kings,Los Angeles,1967,"{'id': 15, 'name': 'Pacific', 'nameShort': 'PA...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 14, 'teamName': 'Kings', 'link...",Los Angeles,http://www.lakings.com/,14,True
25,28,San Jose Sharks,/api/v1/teams/28,"{'name': 'SAP Center at San Jose', 'link': '/a...",SJS,Sharks,San Jose,1990,"{'id': 15, 'name': 'Pacific', 'nameShort': 'PA...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 29, 'teamName': 'Sharks', 'lin...",San Jose,http://www.sjsharks.com/,29,True
26,29,Columbus Blue Jackets,/api/v1/teams/29,"{'id': 5059, 'name': 'Nationwide Arena', 'link...",CBJ,Blue Jackets,Columbus,1997,"{'id': 18, 'name': 'Metropolitan', 'nameShort'...","{'id': 6, 'name': 'Eastern', 'link': '/api/v1/...","{'franchiseId': 36, 'teamName': 'Blue Jackets'...",Columbus,http://www.bluejackets.com/,36,True
27,30,Minnesota Wild,/api/v1/teams/30,"{'id': 5098, 'name': 'Xcel Energy Center', 'li...",MIN,Wild,Minnesota,1997,"{'id': 16, 'name': 'Central', 'nameShort': 'CE...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 37, 'teamName': 'Wild', 'link'...",Minnesota,http://www.wild.com/,37,True
28,52,Winnipeg Jets,/api/v1/teams/52,"{'id': 5058, 'name': 'Bell MTS Place', 'link':...",WPG,Jets,Winnipeg,2011,"{'id': 16, 'name': 'Central', 'nameShort': 'CE...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 35, 'teamName': 'Jets', 'link'...",Winnipeg,http://winnipegjets.com/,35,True
29,53,Arizona Coyotes,/api/v1/teams/53,"{'id': 5043, 'name': 'Gila River Arena', 'link...",ARI,Coyotes,Arizona,1979,"{'id': 15, 'name': 'Pacific', 'nameShort': 'PA...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 28, 'teamName': 'Coyotes', 'li...",Arizona,http://www.arizonacoyotes.com/,28,True
30,54,Vegas Golden Knights,/api/v1/teams/54,"{'id': 5178, 'name': 'T-Mobile Arena', 'link':...",VGK,Golden Knights,Vegas,2016,"{'id': 15, 'name': 'Pacific', 'nameShort': 'PA...","{'id': 5, 'name': 'Western', 'link': '/api/v1/...","{'franchiseId': 38, 'teamName': 'Golden Knight...",Vegas,http://www.vegasgoldenknights.com/,38,True

In [53]:
resp = requests.get('https://statsapi.web.nhl.com/api/v1/teams/2')

In [54]:
resp_nyi_dict = resp.json()

In [55]:
resp_nyi_dict.keys()

dict_keys(['copyright', 'teams'])

In [56]:
resp_nyi_dict['teams']

[{'id': 2,
  'name': 'New York Islanders',
  'link': '/api/v1/teams/2',
  'venue': {'id': 5026,
   'name': 'Barclays Center',
   'link': '/api/v1/venues/5026',
   'city': 'Brooklyn',
   'timeZone': {'id': 'America/New_York', 'offset': -5, 'tz': 'EST'}},
  'abbreviation': 'NYI',
  'teamName': 'Islanders',
  'locationName': 'New York',
  'firstYearOfPlay': '1972',
  'division': {'id': 18,
   'name': 'Metropolitan',
   'nameShort': 'Metro',
   'link': '/api/v1/divisions/18',
   'abbreviation': 'M'},
  'conference': {'id': 6, 'name': 'Eastern', 'link': '/api/v1/conferences/6'},
  'franchise': {'franchiseId': 22,
   'teamName': 'Islanders',
   'link': '/api/v1/franchises/22'},
  'shortName': 'NY Islanders',
  'officialSiteUrl': 'http://www.newyorkislanders.com/',
  'franchiseId': 22,
  'active': True}]

In [58]:
resp_nyi_roster = requests.get('https://statsapi.web.nhl.com/api/v1/teams/2/roster')

In [59]:
resp_nyi_roster = resp_nyi_roster.json()

In [60]:
resp_nyi_roster.keys()

dict_keys(['copyright', 'roster', 'link'])

In [61]:
df_isles_roster = pd.DataFrame(resp_nyi_roster['roster'])

In [62]:
df_isles_roster

,person,jerseyNumber,position
0,"{'id': 8474709, 'fullName': 'Matt Martin', 'li...",17,"{'code': 'L', 'name': 'Left Wing', 'type': 'Fo..."
1,"{'id': 8475832, 'fullName': 'Tom Kuhnhackl', '...",14,"{'code': 'R', 'name': 'Right Wing', 'type': 'F..."
2,"{'id': 8471217, 'fullName': 'Andrew Ladd', 'li...",16,"{'code': 'L', 'name': 'Left Wing', 'type': 'Fo..."
3,"{'id': 8470187, 'fullName': 'Johnny Boychuk', ...",55,"{'code': 'D', 'name': 'Defenseman', 'type': 'D..."
4,"{'id': 8471306, 'fullName': 'Thomas Greiss', '...",1,"{'code': 'G', 'name': 'Goalie', 'type': 'Goali..."
5,"{'id': 8473463, 'fullName': 'Leo Komarov', 'li...",47,"{'code': 'C', 'name': 'Center', 'type': 'Forwa..."
6,"{'id': 8473504, 'fullName': 'Cal Clutterbuck',...",15,"{'code': 'R', 'name': 'Right Wing', 'type': 'F..."
7,"{'id': 8473544, 'fullName': 'Derick Brassard',...",10,"{'code': 'C', 'name': 'Center', 'type': 'Forwa..."
8,"{'id': 8473575, 'fullName': 'Semyon Varlamov',...",40,"{'code': 'G', 'name': 'Goalie', 'type': 'Goali..."
9,"{'id': 8474573, 'fullName': 'Josh Bailey', 'li...",12,"{'code': 'C', 'name': 'Center', 'type': 'Forwa..."
10,"{'id': 8474586, 'fullName': 'Jordan Eberle', '...",7,"{'code': 'C', 'name': 'Center', 'type': 'Forwa..."
11,"{'id': 8475181, 'fullName': 'Nick Leddy', 'lin...",2,"{'code': 'D', 'name': 'Defenseman', 'type': 'D..."
12,"{'id': 8475231, 'fullName': 'Casey Cizikas', '...",53,"{'code': 'C', 'name': 'Center', 'type': 'Forwa..."
13,"{'id': 8475314, 'fullName': 'Anders Lee', 'lin...",27,"{'code': 'C', 'name': 'Center', 'type': 'Forwa..."
14,"{'id': 8475754, 'fullName': 'Brock Nelson', 'l...",29,"{'code': 'C', 'name': 'Center', 'type': 'Forwa..."
15,"{'id': 8476429, 'fullName': 'Scott Mayfield', ...",24,"{'code': 'D', 'name': 'Defenseman', 'type': 'D..."
16,"{'id': 8476917, 'fullName': 'Adam Pelech', 'li...",3,"{'code': 'D', 'name': 'Defenseman', 'type': 'D..."
17,"{'id': 8477506, 'fullName': 'Ryan Pulock', 'li...",6,"{'code': 'D', 'name': 'Defenseman', 'type': 'D..."
18,"{'id': 8477527, 'fullName': 'Ross Johnston', '...",32,"{'code': 'L', 'name': 'Left Wing', 'type': 'Fo..."
19,"{'id': 8477936, 'fullName': 'Michael Dal Colle...",28,"{'code': 'L', 'name': 'Left Wing', 'type': 'Fo..."
20,"{'id': 8478038, 'fullName': 'Devon Toews', 'li...",25,"{'code': 'D', 'name': 'Defenseman', 'type': 'D..."
21,"{'id': 8478445, 'fullName': 'Mathew Barzal', '...",13,"{'code': 'C', 'name': 'Center', 'type': 'Forwa..."
22,"{'id': 8478463, 'fullName': 'Anthony Beauvilli...",18,"{'code': 'L', 'name': 'Left Wing', 'type': 'Fo..."
23,"{'id': 8479526, 'fullName': 'Otto Koivula', 'l...",21,"{'code': 'L', 'name': 'Left Wing', 'type': 'Fo..."
24,"{'id': 8480865, 'fullName': 'Noah Dobson', 'li...",8,"{'code': 'D', 'name': 'Defenseman', 'type': 'D..."

In [1]:
df_nhl

NameError: name 'df_nhl' is not defined