In [2]:
import requests
import pandas as pd
import json

***This file was downloaded directly to the laptop.  Since it's available for download, there is no API call made.  You'll have to download this yourself. http://inalitic.com/datasets/nhl%20player%20data.html***

In [3]:
df = pd.read_csv('skater_stats.csv', encoding='latin1')

//anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.head()

,Unnamed: 0,Season,Player,Age,Tm,Pos,GP,G,GPG,A,...,SHA,S,S%,TOI,ATOI,BLK,HIT,FOwin,FOloss,FO%
0,2018Justin Abdelkader,2018,Justin Abdelkader,30.0,DET,LW,75,13,0.1733,22,...,-,110,12,"1,241",16:33,40.0,174.0,47.0,50.0,48.5
1,2018Pontus Aberg,2018,Pontus Aberg,24.0,TOT,LW,53,4,0.0755,12,...,-,70,6,645,12:10,8.0,24.0,4.0,8.0,33.3
2,2018Noel Acciari,2018,Noel Acciari,26.0,BOS,C,60,10,0.1667,1,...,-,66,15,775,12:55,41.0,152.0,42.0,51.0,45.2
3,2018Kenny Agostino,2018,Kenny Agostino,25.0,BOS,LW,5,-,0.0000,1,...,-,11,-,60,12:03,1.0,4.0,0.0,1.0,0.0
4,2018Sebastian Aho,2018,Sebastian Aho,20.0,CAR,RW,78,29,0.3718,36,...,-,200,15,"1,398",17:55,17.0,65.0,78.0,94.0,45.3

In [5]:
df.shape

(37825, 29)

In [6]:
df_fixed = df.drop('Unnamed: 0', axis = 1)

In [7]:
df_nhl = df_fixed

In [8]:
df_nhl[['Season', 'Player', 'S', 'S%']]

       Season             Player      S     S%
0        2018  Justin Abdelkader   110     12
1        2018       Pontus Aberg    70      6
2        2018       Noel Acciari    66     15
3        2018     Kenny Agostino    11    -
4        2018      Sebastian Aho   200     15
...       ...                ...    ...    ...
37820    1940    Gordie Drillon*    NaN    NaN
37821    1940       Bill Cowley*    NaN    NaN
37822    1940      Woody Dumart*    NaN    NaN
37823    1940       Bobby Bauer*    NaN    NaN
37824    1940      Milt Schmidt*    NaN    NaN

[37825 rows x 4 columns]